@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500&display=swap');
html{
    overflow-x: hidden !important;


    scroll-behavior: smooth;

}


body{
    font-family: 'SF Pro Display', sans-serif;

}


li{
    transition: 0.4s;
}

li:hover{
color:#fc7375;
}

.moyen{
    background:linear-gradient(rgba(0, 0, 0, 0.568),rgba(0, 0, 0, 0.575)),url('./../src/assets/bg.jpg') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    width: 100%;
    font-family: 'Exo 2', sans-serif;

}

.cardss:hover .title{
    color:rgb(235, 235, 235);
}

.cardss:hover .iconss{

color:white;
}

.cardss:hover button{
    color:#fc7375;
}

.agrementsss .cards div:nth-child(even){
    border-top:5px solid rgb(45, 0, 128);
}

.agrementsss .cards div:nth-child(odd){
    border-top:5px solid rgb(172, 16, 16);
}